Django==1.6
dj-database-url==0.2.2
dj-static==0.0.5
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
APScheduler==2.1.2
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
PyYAML==3.11
Werkzeug==0.9.4
gunicorn==18.0
itsdangerous==0.24
python-dateutil==2.2
pytz==2014.2
six==1.6.1
textblob==0.8.4
times==0.6.2
wsgiref==0.1.2
